* {
  box-sizing: border-box;
}
 
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
 
header.navbar-container {
    width: 100%;
    padding-block: 0.2rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    position: fixed;
    background-color: white;
}
 
header.navbar-container .logo img {
    width: 50px;
}

header.navbar-container .puskesmas {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}
  
header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
    list-style-type: none;
}
 
header.navbar-container .nav-list li a {
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    transition: all 0.2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
    background-color: #425c77;
    color: white;
}
 
main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 4rem;
    margin-top: 7rem;
}
 
main .content {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
}
 
main .content .content-description {
    flex: 1 1;
}
 
main .content .content-description .title {
    margin-block: 1rem;
    font-size: 3.5rem;
}


main .content .content-description p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}
 
main .content .content-description button {
    padding: 0.8rem 2.5rem;
    border: 3px solid transparent;
    border-radius: 999px;
    margin-block-start: 1rem;
    background-color: #2d3e50;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

main .content .content-description button a {
    text-decoration: none;
    color: white;
}
 
main .content .content-description button:hover {
    border: 3px solid #2d3e50;
    background-color: transparent;
    color: #2d3e50;
}

main .content .content-image {
    flex: 1;
    display: flex;
}
 
main .content .content-image img {
    max-width: 100%;
    min-width: 250px;
    margin: auto;
    height: auto;
}

main #layanan_kami {
    margin-bottom: 15rem;
}

main #layanan_kami h1 {
    text-align: center;
}

main #layanan_kami .layanan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

main #layanan_kami .layanan .card {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 3rem;
    width: 300px;
}

main #layanan_kami .layanan .card ul {
    padding: 20px;
}

main #layanan_kami .layanan .card img:hover {
    transform: scale(1.05);
}

main #layanan_kami .layanan .card h2 {
    text-align: center;
}

main #tentang_kami h1, h3 {
    text-align: center;
}

main #tentang_kami h3 {
    margin-top: 5rem;
}

main #tentang_kami .title-unit_kerja, .title-dokter {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}

main #tentang_kami .unit_kerja .card img {
    width: 250px;
}

main #tentang_kami .dokter, .unit_kerja {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

main #tentang_kami .unit_kerja .card {
    text-align: center;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    width: 300px;
    flex: 1 1 30%;
}

main #tentang_kami .dokter .card {
    text-align: center;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    width: 300px;
    flex: 1 1 30%;
}

main #tentang_kami .dokter .card img {
    width: 100px;
}

footer {
    margin-top: 20px;
    padding: 1.5rem;
    color: white;
    background-color: #425c77;
    text-align: center;
    font-weight: bold;
    height: 100%;
    padding-left: 10px;
    width: 100%;
}

footer a {
    color: white;
}

footer a:hover {
    color: #2d3e50;
}

@media screen and (max-width: 768px) {
    header.navbar-container {
        flex-direction: column;
        padding: 0.5rem;
    }

    header.navbar-container .puskesmas {
        display: block; 
        align-self: flex-start;
    }

    header.navbar-container .nav-list {
        display: none; /* Sembunyikan menu secara default */
        width: 100%; /* Lebar penuh */ /* Teks rata tengah */
    }

    header.navbar-container .nav-list ul {
        flex-direction: column;
    }

    header.navbar-container .nav-list ul li {
        margin: 10px 0; /* Tambah margin antar menu */
    }

    header.navbar-container .nav-list.open {
        display: flex; /* Tampilkan menu saat hamburger diklik */
    }

    header.navbar-container .logo img {
        width: 40px; 
    }

    main {
        padding: 1rem;
    }

    main .content {
        flex-direction: column;
        gap: 2rem;
    }

    main .content .content-description .title {
        font-size: 2.5rem;
    }

    main .content .content-description p {
        font-size: 1rem;
    }

    main .content .content-description button {
        padding: 0.5rem 1.5rem;
        font-size: 0.8rem;
    }

    main .content .content-image {
        order: -1;
    }

    main #layanan_kami .layanan .card {
        width: 100%;
        margin: 10px 0;
    }

    main #tentang_kami .tentang .card {
        width: 100%;
        margin-bottom: 1rem;
    }

    table {
        width: 100%;
        overflow-x: auto; 
    }

    table, th, td {
        font-size: 0.8rem;
    }
}
